<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Fly Away</title>
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica" />
		<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
		<meta name=" viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<script src="/static/js/script.js"></script>
	</head>

	<body>
		<header>
			<div class="nav">
				<a href="index.html">Home</a>
				<a href="about.html">About Us</a>
				<a href="services.html">Services</a>
				<a href="privacy-policy.html">Privacy & Cookies</a>
				<a href="terms-and-conditions.html">Terms & Conditions</a>
			</div>
		</header>
		<main>
			<h1 class="title top">Fly Away</h1>
			<p class="p">
				Welcome to our website!<br />
				Fly Away is a web application that allows you to search for flights and book them.<br />
				You will find here all the most convenient flights for your needs.<br />
			</p>
			<a id="user" class="button {{logged}}" href="welcome.html">Login/Register</a>
			<a class="button" href="/static/report/Report.pdf">Download the Report</a>
		</main>
		<footer>
			<div>
				<p>Contact us at:</p>
				<ul>
					<li><a href="https://github.com/MarcoAntolini">github.com/MarcoAntolini</a></li>
					<li><a href="mailto:marco.antolini6@studio.unibo.it">marco.antolini6@studio.unibo.it</a></li>
				</ul>
			</div>
			<p>Copyright © 2023. All rights Reserved.</p>
		</footer>
	</body>
</html>
