<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Terms and Conditions | Fly Away</title>
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica" />
		<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
		<meta name=" viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	</head>

	<body>
		<header>
			<div class="nav">
				{% for title, url in nav %}
				<a class="{% if url == request.path %}active{% endif %}" href="{{url}}">{{title}}</a>
				{% endfor %}
			</div>
		</header>
		<main>
			<h1 class="top title sub-title">Our Terms and Conditions</h1>
			<p class="p wide">
				1. All flight bookings are subject to the terms and conditions of the individual airline.
				<br />2. Prices and availability are subject to change without notice. <br />3. Payment for flights must be made at the time of booking.
				<br />4. Cancellation and refund policies vary depending on the airline and ticket type. Please review the airline's policy before booking.
				<br />5. The travel company is not responsible for any additional fees or charges imposed by the airline, such as baggage fees or seat selection
				charges. <br />6. The travel company is not responsible for any delays or cancellations caused by the airline or acts of nature. <br />7. The
				travel company is not responsible for any damages or losses incurred as a result of travel. <br />8. The travel company reserves the right to
				modify or discontinue any service without notice. <br />9. The loyalty program is subject to change without notice. <br />10. The travel company
				reserves the right to terminate any account for any reason. <br />11. The use of this website and the booking of any travel services offered on
				the website constitutes acceptance of these terms and conditions. <br />12. Any disputes arising from the use of this website or the booking of
				travel services will be governed by and construed in accordance with the laws of the country of the travel company. <br />13. The travel company
				is not responsible for any third party links or content on the website. <br />14. By using the website and booking travel services, the customer
				agrees to the collection and use of their personal information in accordance with the privacy policy of the website.
			</p>
		</main>
		<footer>
			<div>
				<p>Contact us at:</p>
				<ul>
					<li><a href="https://github.com/MarcoAntolini">github.com/MarcoAntolini</a></li>
					<li><a href="mailto:marco.antolini6@studio.unibo.it">marco.antolini6@studio.unibo.it</a></li>
				</ul>
			</div>
			<p>Copyright © 2023. All rights Reserved.</p>
		</footer>
	</body>
</html>
