<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Welcome | Fly Away</title>
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica" />
		<link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
		<meta name=" viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<script src="/static/js/script.js"></script>
	</head>

	<body>
		<header>
			<div class="nav">
				<a href="index.html">Home</a>
				<a href="about.html">About Us</a>
				<a href="services.html">Services</a>
				<a href="privacy-policy.html">Privacy & Cookies</a>
				<a href="terms-and-conditions.html">Terms & Conditions</a>
			</div>
		</header>
		<main>
			<h1 class="top-log title sub-title">Login to access our website</h1>
			<div class="auth p">
				<form method="post">
					<input type="text" name="username" id="username" placeholder="username" required autofocus />
					<input type="password" name="password" id="password" placeholder="password" required />
					<input type="submit" value="Register" id="submit" /><br />
					<div class="error">{{error}}</div>
					<input type="button" value="Already registered?" id="switch" class="register" /><br />
				</form>
			</div>
		</main>
		<footer>
			<div>
				<p>Contact us at:</p>
				<ul>
					<li><a href="https://github.com/MarcoAntolini">github.com/MarcoAntolini</a></li>
					<li><a href="mailto:marco.antolini6@studio.unibo.it">marco.antolini6@studio.unibo.it</a></li>
				</ul>
			</div>
			<p>Copyright © 2023. All rights Reserved.</p>
		</footer>
	</body>
</html>
