/* ------------------------------------------------------------ NORMALIZE: ------------------------------------------------------------ */

html {
    font-family: "Arial", sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:is(:visited, :hover, :active) {
    color: blue;
}

/* ------------------------------------------------------------ BODY: ------------------------------------------------------------ */

body {
    font-size: 14px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/bg.png");
    background-size: cover;
}

.download-button {
    background-color: #ff9999;
    border: 1px solid black;
    border-radius: 20px;
    color: black !important;
    padding: 2px 8.5px;
}

.download-button:hover {
    background-color: #ff6666;
    border-width: 2px;
}

/* ------------------------------------------------------------ FOOTER: ------------------------------------------------------------ */

footer {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    gap: 50px;
    margin-left: -0.4%;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

footer div {
    display: flex;
    align-items: center;
}