{% extends "base.html" %} {% block title %}Fly Away{% endblock %} {% block content %}
<h1 class="title top">Fly Away</h1>
<p class="p">
	Welcome to our website!<br />
	Fly Away is a web application that allows you to search for flights and book them.<br />
	You will find here all the most convenient flights for your needs.<br />
</p>
<a id="user" class="button {{logged}}" href="/welcome">Login/Register</a>
<a class="button" href="/static/report/Report.pdf">Download the Report</a>
{% endblock %}
