{% extends "base.html" %} {% block title %}Services | Fly Away{% endblock %} {% block content %}
<h1 class="top title sub-title">Book now!</h1>
<table>
	<tr>
		<th>Departure</th>
		<th>Arrival</th>
		<th>Price</th>
		<th>Duration</th>
	</tr>
	<tr>
		<td>New York</td>
		<td>London</td>
		<td>$500</td>
		<td>7h</td>
	</tr>
	<tr>
		<td>Los Angeles</td>
		<td>Tokyo</td>
		<td>$800</td>
		<td>13h</td>
	</tr>
	<tr>
		<td>Chicago</td>
		<td>Paris</td>
		<td>$450</td>
		<td>8h</td>
	</tr>
	<tr>
		<td>Houston</td>
		<td>Rio de Janeiro</td>
		<td>$600</td>
		<td>9h</td>
	</tr>
	<tr>
		<td>Miami</td>
		<td>Cancun</td>
		<td>$200</td>
		<td>2h</td>
	</tr>
	<tr>
		<td>Boston</td>
		<td>Dublin</td>
		<td>$350</td>
		<td>6h</td>
	</tr>
	<tr>
		<td>San Francisco</td>
		<td>Sydney</td>
		<td>$1,200</td>
		<td>17h</td>
	</tr>
	<tr>
		<td>Las Vegas</td>
		<td>Bangkok</td>
		<td>$700</td>
		<td>14h</td>
	</tr>
	<tr>
		<td>Seattle</td>
		<td>Vancouver</td>
		<td>$150</td>
		<td>2h</td>
	</tr>
	<tr>
		<td>Philadelphia</td>
		<td>Rome</td>
		<td>$400</td>
		<td>7h</td>
	</tr>
	<tr>
		<td>New Orleans</td>
		<td>Havana</td>
		<td>$250</td>
		<td>3h</td>
	</tr>
	<tr>
		<td>Orlando</td>
		<td>Punta Cana</td>
		<td>$300</td>
		<td>4h</td>
	</tr>
	<tr>
		<td>Denver</td>
		<td>Mexico City</td>
		<td>$450</td>
		<td>5h</td>
	</tr>
	<tr>
		<td>Detroit</td>
		<td>Toronto</td>
		<td>$200</td>
		<td>2h</td>
	</tr>
	<tr>
		<td>Minneapolis</td>
		<td>Amsterdam</td>
		<td>$500</td>
		<td>8h</td>
	</tr>
	<tr>
		<td>San Diego</td>
		<td>Barcelona</td>
		<td>$600</td>
		<td>9h</td>
	</tr>
	<tr>
		<td>Portland</td>
		<td>Madrid</td>
		<td>$550</td>
		<td>8h</td>
	</tr>
	<tr>
		<td>San Jose</td>
		<td>Prague</td>
		<td>$650</td>
		<td>10h</td>
	</tr>
	<tr>
		<td>St. Louis</td>
		<td>Vienna</td>
		<td>$500</td>
		<td>8h</td>
	</tr>
	<tr>
		<td>Washington</td>
		<td>Brussels</td>
		<td>$450</td>
		<td>7h</td>
	</tr>
</table>
{% endblock %}
