{% extends "base.html" %} {% block title %}Welcome | Fly Away{% endblock %} {% block content %}
<h1 class="top-log title sub-title">Login to access our website</h1>
<div class="auth p">
	<form method="post" name="form">
		<input type="text" name="username" id="username" placeholder="username" required autocomplete autofocus />
		<input type="password" name="password" id="password" placeholder="password" required autocomplete />
		<input type="hidden" name="submit_type" id="submit_type" value="register" />
		<input type="submit" name="submit" value="Register" id="submit" /><br />
		{% if error %}
		<div class="error">{{error}}</div>
		{% endif %}
		<input type="button" name="class" value="Already registered?" id="switch" class="register" /><br />
	</form>
</div>
{% endblock %}
